@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome My Project</h1>
    <pre>I designed this project to practice with asp .net core MVC, understand the general design of it and develop C# capabilities.
       I created a personnel-department tracking system using Entitity Framewrok and Mssql (with the help of migration) and performed 
       CRUD (Create-Delete-Update-Read) operations. And of course, I also added verification processes so that the project can be monitored.</pre>
</div>
