@{
    ViewData["Title"] = "Privacy";
}
<h1>@ViewData["Title"]</h1>

<p>Improvements have been made to the default MVC template. All back-end and database operations belong to <a target="_blank" href="https://github.com/ozerBerker">ozerb</a></p>
